@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

::-webkit-scrollbar{
  background: var(--light);
  width: 0.6em;
  margin: 0 10px;
}
::-webkit-scrollbar-track{
  width: 1em;
  margin: 0 10em;
  padding: 1em;
}
::-webkit-scrollbar-thumb{
  background: #747474;
  height: 4em !important;
  border-radius: 80px;
  margin: 0 10px;
  padding: 1em;
  background-clip: padding-box;
}

:root {
  --lighter: #313131;
  --light: #202020;
  --dark: #181818;
  --darker: #121212;
  --tag: #373737;
  --light-text: #909090;
  --dark-text: #6f6f6f;
  --text: #797979;
  --side_bg: #212121;
  --font: 'Roboto', sans-serif;
  --main-radius: 5px;
  --main-padding: 5px;
}
body{
    background-color: #181818 !important;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

/* SIDEBAR START */

.sidebar {
  overflow: scroll !important;
  background: #2f323a;
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  transition: all 0.2s ease-in;
}

.sidebar a{
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  width: 100%;
  padding-left: 25px !important;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.sidebar i{
  padding-right: 10px;
}
.sidebar span{
    padding-left: 10px;
  color: white;
}

label #sidebar_btn{
  z-index: 99999;
  color: #fff;
  position: fixed;
  cursor: pointer;
  left: 1.8rem;
  font-size: 20px;
}

#check:checked ~ .sidebar{
  left: -190px;
  overflow: hidden !important;
}
#check:checked ~ .sidebar a span{
  display: none;
}

.sidebar a:hover{
  background: #383838;
}

#check:checked ~ .sidebar a{
  font-size: 20px;
  margin-left: 185px;
  width: 80px;
}
.content{
  margin-left: 250px;
  margin-right: 1rem;
}

#check:checked ~ .content{
  margin-left: 60px;
  margin-right: 0;
  transition: all 0.2s ease-in;
}

#check{
  display: none;
}
#check:checked ~ .sidebar .sidebar-icon-1{
    display: none;
}

#check:checked ~ .sidebar .line{
    display: none;
}

#check:checked ~ .sidebar .footer{
    display: none;
}

#check:checked ~ .sidebar .channel-side{
    display: none;
}

#check:checked ~ .sidebar i{
    line-height: 2rem !important;
    font-size: 23px !important;
}

#check:checked ~ .sidebar .side-close{
    margin-top: -0.5rem;
    margin-left: 12rem;
    display: block;
}

.side-close{
    display: none;
    color: white;
    text-align: center;
    margin-left: -8.8rem;
    font-size: 10px;
}

.footer{
    font-size: 12px;
    flex-wrap: wrap;
    display: flex;
    font-weight: 700;
}

#sidebar {
  background: #202020;
  grid-area: sidebar;
  z-index: 999;
  display: none;
  margin-top: -3.5rem !important;
  min-width: 4rem !important;
}

.sidebar-container{
  margin-top: 5em;
  position: fixed;
  min-height: 100% !important;
}

.home-icon,
.explore-icon,
.subscription-icon,
.library-icon{
    margin-top: 1rem;
    font-size: 25px;
    text-align: center;
    color: #909090;
    transition: 150ms ease-in;
}
.tag-line{
    font-size: 10px;
    font-weight: 600;
    margin-top: 0 !important;
}

.home-icon:hover,
.explore-icon:hover,
.subscription-icon:hover,
.library-icon:hover{
    color: white;
    cursor: pointer;
}

.sidebar {
  top: 0;
  padding-top: 3.5rem;
  background: #202020;
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
}

.sidebar a{
  color: #909090;
  display: block;
  width: 100%;
  line-height: 30px;
  text-decoration: none;
  padding-left: 40px;
  padding-right: 2rem;
  box-sizing: border-box;
}

.sidebar a:hover{
    color: white;
}

.line{
    width: 100%;
    background: #383838 !important;
    height: 0.1rem;
    margin-left: 0 !important;
    margin-top: 0.3rem !important;
}

.sidebar-icon,
.sidebar-icon-1{
    font-size: 22px !important;
    text-align: center !important;
    color: #909090 !important;
    transition: 150ms ease-in !important;
}
.sidebar-icon:hover,
.sidebar-icon-1:hover{
    color: white !important;
    cursor: pointer !important;
}
.subsc{
    color: #909090;
    margin-left: 2rem;
    margin-top: 0.5rem;
    font-weight: 800;
    font-size: 14px;
}

/* SIDEBAR CLOSE */

.grid-container {
  display: grid;
  grid-template-columns: 0fr 1.5fr 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 1fr 1fr 1fr;
  grid-template-areas:
    "sidebar nav nav nav nav"
    "sidebar content1 content1 content1 content1"
    "sidebar content1 content1 content1 content1"
    "sidebar content1 content1 content1 content1";
}

nav {
  grid-area: nav;
  z-index: 9999;
}

#navbar{
  margin-top: -1.5rem;
  width: 100%;
  left: 0;
  position: fixed;
  background-color: #202020 !important;
  height: 3.5rem;
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.left{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#sidebar_btn{
    color: white;
    cursor: pointer;
}
.logo-img{
    width: 100%;
    height: 1.5rem;
    min-height: 1.5rem !important;
}

.logo-link{
  margin-left: 4rem;
  width: 100%;
  height: 100%;
}

.center{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 1 700;
    min-width: 0px;
    color: white;
}

.search_bar {
    margin-left: 1.5rem;
    width: 40em;
    height: 2rem;
    display: flex;
    border-radius: 2px;
    overflow: hidden;
    background: #000;
    border: 1px solid var(--tag);
}

.search {
    padding: 0 0.5em;
    height: 2rem;
    width: 100%;
    background: var(--darker);
    border: none;
    color: #fff;
    font-family: var(--font);
}

.search_btn {
    border: none;
    background: var(--lighter);
    color: var(--dark-text);
    padding: 0 1.5em;
}
.mic{
    font-size: 1rem;
    margin-left: 1rem;
    width: 2.1em;
    height: 2.1em;
    border-radius: 50%;
    color: #fff;
    background: var(--darker);
    border: none;
}
.right{
    color: white;
    min-width: 225px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}
.search-icon,
.add-video,
.more,
.notification{
    margin-right: 2rem;
    cursor: pointer;
}
.search-icon{
    display: none;
}

.profile{
    box-sizing: border-box;
    cursor: pointer;
}
.profile-pic{
    border-radius: 50% !important;
    width: 2rem;
    cursor: pointer;
}

/* filter */

.filters{
    position: fixed;
    top: 3.5rem;
    width: 100%;
    height: 3.5rem;
    background: #202020;
    border-top: 1px solid #313131;
    border-bottom: 1px solid #313131;
    padding: 0 20px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
}

.filters::-webkit-scrollbar{
    display: none;
}

.filter-options{
    flex: 0 0 auto;
    padding: 5px 15px;
    border-radius: 50px;
    background: #373737;
    border: 1px solid #4b4b4b;
    text-transform: capitalize;
    margin-right: 10px;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    transition: 150ms ease-in;
}

.filter-options:hover{
    background: var(--dark-text);

}

.filter-options.active{
    color: #202020;
    background: #ffffff;
}


/* VIDEOS */

#content1 {
  grid-area: content1;
  margin-top: 4rem;
  margin-left: 1rem;

}

#video-1{
  display: flex !important;
  justify-content: center !important;
  flex-direction: row !important;
  gap: 1rem !important;
  flex-wrap: wrap;
}
.video-body{
    height: 20rem;
    width: 20rem;
    aspect-ratio: 320 / 320 !important;
    background-color: #181818;
    overflow: hidden;
    object-fit: cover;
}
.video-top{
    position: relative;
    min-width: 100%;
    min-height: 5rem;
    object-fit: cover;
    transition: 150ms ease-in;
}
.video-top:hover .later-icon,
.video-top:hover .play-icon{
    display: block !important;
}
.video-body:hover{
    transition: 150ms ease-in;
    background-color: var(--lighter);
}
.video-body:hover .dot-icon{
    display: block !important;
    cursor: pointer;
}
.img1{
    background-image: url(../img/1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 12rem;
    cursor: pointer;
}
.img1:hover{
    background-image: linear-gradient(rgba(49, 49, 49, 0.5),rgba(0,0,0,0.5)), url(../img/1-1.webp);
    color: rgb(49, 49, 49);
}
.img2{
    background-image: url(../img/2.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 12rem;
    cursor: pointer;
}
.img2:hover{
    background-image: linear-gradient(rgba(49, 49, 49, 0.5),rgba(0,0,0,0.5)), url(../img/2-2.webp);
    color: rgb(49, 49, 49);
}
.img3{
    background-image: url(../img/3.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 12rem;
    cursor: pointer;
}
.img3:hover{
    background-image: linear-gradient(rgba(49, 49, 49, 0.5),rgba(0,0,0,0.5)), url(../img/3-3.webp);
    color: rgb(49, 49, 49);
}
.img4{
    background-image: url(../img/4.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 12rem;
    cursor: pointer;
}
.img4:hover{
    background-image: linear-gradient(rgba(49, 49, 49, 0.5),rgba(0,0,0,0.5)), url(../img/4-4.webp);
    color: rgb(49, 49, 49);
}
.img5{
    background-image: url(../img/5.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 12rem;
    cursor: pointer;
}
.img5:hover{
    background-image: linear-gradient(rgba(49, 49, 49, 0.5),rgba(0,0,0,0.5)), url(../img/5.png);
    color: rgb(49, 49, 49);
}
.img6{
    background-image: url(../img/6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 12rem;
    cursor: pointer;
}
.img6:hover{
    background-image: linear-gradient(rgba(49, 49, 49, 0.5),rgba(0,0,0,0.5)), url(../img/6-6.webp);
    color: rgb(49, 49, 49);
}
.img7{
    background-image: url(../img/7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 12rem;
    cursor: pointer;
}
.img7:hover{
    background-image: linear-gradient(rgba(49, 49, 49, 0.5),rgba(0,0,0,0.5)), url(../img/7.jpg);
    color: rgb(49, 49, 49);
}
.img8{
    background-image: url(../img/8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 12rem;
    cursor: pointer;
}
.img8:hover{
    background-image: linear-gradient(rgba(49, 49, 49, 0.5),rgba(0,0,0,0.5)), url(../img/8-8.webp);
    color: rgb(49, 49, 49);
}
.img9{
    background-image: url(../img/9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 12rem;
    cursor: pointer;
}
.img9:hover{
    background-image: linear-gradient(rgba(49, 49, 49, 0.5),rgba(0,0,0,0.5)), url(../img/9-9.webp);
    color: rgb(49, 49, 49);
}
.img10{
    background-image: url(../img/10.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 12rem;
    cursor: pointer;
}
.img10:hover{
    background-image: linear-gradient(rgba(49, 49, 49, 0.5),rgba(0,0,0,0.5)), url(../img/10.jpg);
    color: rgb(49, 49, 49);
}
.img11{
    background-image: url(../img/11.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 12rem;
    cursor: pointer;
}
.img11:hover{
    background-image: linear-gradient(rgba(49, 49, 49, 0.5),rgba(0,0,0,0.5)), url(../img/11-11.webp);
    color: rgb(49, 49, 49);
}
.img12{
    background-image: url(../img/12.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 12rem;
    cursor: pointer;
}
.img12:hover{
    background-image: linear-gradient(rgba(49, 49, 49, 0.5),rgba(0,0,0,0.5)), url(../img/12-12.webp);
    color: rgb(49, 49, 49);
}
.thumbnail{
    width: 100%;
    height: auto;

}
.duration{
    color: white;
    background-color: rgb(24, 24, 24, 0.9);
    position: absolute;
    padding-right: 3px;
    padding-left: 3px;
    font-weight: 600;
    font-size: 15px;
    margin-top: -1.8rem;
    right: 0.5rem;
}
.later-icon{
    display: none;
    color: white;
    position: absolute;
    right: 0.3rem;
    border-radius: 10%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: -11.5rem;
    font-size: 18px;
    background-color: rgb(24, 24, 24, 0.9);
    transition: 150ms ease-in;
}
.play-icon{
    display: none;
    margin-top: -9.5rem !important;
    right: 0.3rem;
    border-radius: 10%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    color: white;
    position: absolute;
    font-size: 18px;
    background-color: rgb(24, 24, 24, 0.9);
    transition: 150ms ease-in;
}
.video-bottom{
    position: relative;
    min-width: 100%;
    min-height: 5rem;
    object-fit: cover;
    color: white;
}

.channel-pic{
    border-radius: 50%;
    margin-top: 1rem;
    margin-right: 1.5rem;
    width: 3rem;
}

.video-title{
    margin-top: -3rem;
    margin-left: 4rem;
    width: 75%;
    font-size: 15px;
    font-weight: 700;
}
.channel-name{
    margin-left: 4rem;
    margin-top: -0.8rem;
}
.views-time{
    margin-top: -1rem;
    margin-left: 4rem;
}
.dot-icon{
    text-align: right;
    margin-top: -5.5rem !important;
    display: none;
}

.vid-link{
    text-decoration: none;
    color: white;
    display: block;
}
.vid-link:hover{
    text-decoration: none;
    color: white;
}

#content2 {
  grid-area: content2;
  margin-top: 1rem;
  margin-left: 1rem;
}

#content3 {
  grid-area: content3;
  margin-top: 1rem;
  margin-left: 1rem;
}

@media only screen and (max-width: 1380px) {
    
.video-title{
    margin-top: -3rem;
    margin-left: 4rem;
    font-size: 13px;
    font-weight: 600;
}
.channel-name{
    margin-left: 4rem;
    margin-top: -0.8rem;
    font-size: 13px;
}
.views-time{
    margin-top: -1rem;
    margin-left: 4rem;
    font-size: 13px;
}
}

@media only screen and (max-width: 1216px) {
    .video-body{
        height: 22rem;
        width: 25rem;
        background-color: #181818;
        overflow: hidden;
        object-fit: cover;
    }
}

@media only screen and (max-width: 1584px) {
    .grid-container {
        grid-template-rows: 0.15fr 1fr 1fr 1fr !important;
    }
    #sidebar{
        margin-top: -1rem !important;
    }
}

@media only screen and (max-width: 1170px) {
    .grid-container {
        grid-template-rows: 0.08fr 1fr 1fr 1fr !important;
    }
    #video-1{
        display: flex !important;
        justify-content: center !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
    }
}

@media only screen and (max-width: 1024px) {
    .grid-container {
        grid-template-rows: 0.05fr 1fr 1fr 1fr !important;
    }
    .search_bar {
        width: 30em;
        height: 2rem;
    }
}

@media only screen and (max-width: 826px) {
    .grid-container {
        grid-template-rows: 0.06fr 1fr 1fr 1fr !important;
    }
    .search_bar {
        width: 30em;
        height: 2rem;
    }
    #sidebar{
        margin-top: -3.5rem !important;
    }
}

@media only screen and (max-width: 768px) {
    .grid-container {
        display: grid !important;
        grid-template-columns: 1fr !important;
        grid-template-rows: 0.03fr 1fr 0.02fr!important;
        grid-template-areas:
        "nav"
        "content1"
        "sidebar";
    }
    .sidebar{
        display: none !important;
    }
    .content{
      margin-left: 0px;
    }
    #sidebar{
        display: block;
    }
    .search-icon{
        display: block;
    }
    .search_bar {
        display: none;
    }
    .mic{
        display: none;
    }
    .more{
        display: none;
    }
    .filters{
        left: 0;
    }
    #content1{
        margin-top: 4rem !important;
    }
    #sidebar_btn{
        display: none;
    }
    .logo-link{
        margin-left: 0;
    }
    #sidebar{
        margin-top: 0;
        position: fixed;
        display: block;
    }
    .sidebar{
        display: none;
    }
    .sidebar-container{
        display: flex;
        flex-direction: row;
        justify-content: center !important;
        background-color: #212121;
        top: 80%;
        gap: 10rem;
        width: 100%;
        bottom: 0;
    }
}


@media only screen and (max-width: 764px) {
    .sidebar-container{
        gap: 5rem;
    }
    #content1{
        margin-top: 0 !important;
    }
}


@media only screen and (max-width: 550px) {
    .sidebar-container{
        gap: 5rem;
    }
    #content1{
        margin-top: 0 !important;
    }
}

@media only screen and (max-width: 414px) {
    .video-body{
        height: 20rem;
        width: 20rem;
    }
    .sidebar-container{
        gap: 4rem;
    }
}

@media only screen and (max-width: 360px) {
    .sidebar-container{
        gap: 3rem;
        top: 75%;
    }
    .add-video{
        display: none;
    }
}

@media only screen and (max-height: 740px) {
    .sidebar-container{
        gap: 3rem;
        top: 77%;
    }
}